numpy==1.22.3
pandas==1.4.2
scikit-learn==1.0.2
matplotlib==3.5.1
seaborn==0.11.2
gunicorn==20.1.0
Flask==2.1.1
whois==0.9.7
imbalanced-learn==0.7.0
googlesearch_python==1.0.1
ipaddress==1.0.24
bs4==0.0.1
python-whois==0.7.1
xgboost==1.5.2
