body {
  margin: 0px 0px 30px;
}

/* navigation bar style */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 40px;
  padding: 5px 20px 7px 20px;
  z-index: 1;
}

.title {
  padding-right: 30em;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 900;
 
}

.nav-item {
  padding-right: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* home section style */

.home-section {
  margin-top: 58px;
  /* background-color: #000000; */
  background-image: url(bg.jpg);
  width: 100%;
  height: 45rem;
}

.container {
  position: relative;
  top: 100px;
}

.landing-text {
  font-family: "Tilt Warp", cursive;
  color: #f5f5f5;
  font-size: 5rem;
  position: absolute;
  left: 2vw;
  top: 16vh;
}

.search-box {
  /* padding: 325px 0px 86px 170px; */
  position: absolute;
  top: 30vh;
  left: 30px;
  width: 100%;
}

.search {
  width: 85%;
  padding: 12px 30px;
  border-radius: 17px;
}

.button {
  background-color: #ffff;
  font-family: "EB Garamond", serif;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 20px;
  margin-left: 30px;
  border-radius: 17px;
  appearance: none;
}

.button:hover {
  background-color: #000000;
  color: #ffff;
  border: 1px solid #ffff;
  padding: 6px 20px;
}

.result {
  font-family: "Tilt Warp", cursive;
  color: #f5f5f5;
  font-size: 2rem;
  position: absolute;
  top: 45vh;
  left: 28vw;
}

/* Features Section */

#features {
  width: 100%;
  height: 50rem;
}

.features-container {
  padding-top: 40px;
}

.features-intro h2 {
  font-family: "Tilt Warp", cursive;
  color: #000000;
  font-size: 4em;
  margin-top: 30px;
  margin-left: 70px;
  padding: 10px 5px;
}

.features-intro p {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 1.5em;
  padding-top: 1px;
  padding-left: 80px;
}

.features-content {
  display: inline-flex;
}

.content {
  width: 30%;
  margin-left: 80px;
  margin-top: 0px;
}

.myeffects {
  width: 58%;
  left: 70px;
  top: -53px;
}

/* Report Section */

#report {
  background-color: #030337;
  width: 100%;
  height: 45rem;
}

.report-container {
  padding-top: 80px;
}

.intro-report h3 {
  font-family: "Tilt Warp", cursive;
  color: #ffffff !important;
  font-size: 4em;
  margin-top: 30px;
  margin-left: 75px;
  padding: 10px 5px;
}

.intro-report p {
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
  font-size: 1.5em;
  padding-top: 20px;
  padding-left: 90px;
  width: 90%;
}

/* Contact us */

.about-us {
  margin-top: 45px;
  /* margin-top: -85px;  with line div*/
}



.card:hover {
  transform: scale(1.01, 1.01);
  transition-timing-function: ease-in-out;
}

.intro-text {
  font-family: "Tilt Warp", cursive;
  color: #000000;
  font-size: 4rem;
  padding-left: 80px;
  padding-bottom: 10px;
  padding-top: 25px;
}

.profile-img {
  height: 130px;
  width: 130px;
  margin: 5px;
  border-radius: 5px;
}

.intro {
  display: inline;
  color: #f5f5f5;
  padding: 10px 15px;
}

.intro-component {
  padding-left: 86px;
  font-family: "Poppins", sans-serif;
}

.intro h3 {
  font-family: "Poppins", sans-serif;
}

.intro p {
  padding-left: 2px;
  line-height: 8px;
}

.social {
  height: 25px;
  width: 25px;
  margin: 0px 7px;
}

/* CSS for devices of width between 320px - 480px */

@media only screen and (max-width: 480px) {
  body {
    margin: 2px;
  }

  section {
    margin-bottom: 10px;
    height: auto;
  }

  .navbar {
    padding-left: 2px;
    padding-top: 20px;
    
  }
  .navbar:hover{
    transform: scaleX(1.1); 
  }

  .title {
    padding-right: 0em;
    font-size: 20px;
  }

  .nav-item {
    padding-right: 0px;
  
  }
 

  /* Home Section */

  .home-section {
    height: 36rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .landing-text {
    left: 12vw;
    top: 0;
    font-size: 4.5rem;
  }

  .search-box {
    top: 33vh;
    left: 20px;
    width: auto;
  }

  .search {
    padding: 10px 14px;
    width: 90%;
  }

  .button {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 80px;
  }

  .result {
    top: 56vh;
    left: 9vw;
    font-size: 1.2rem;
    width: 85%;
  }

  /* Features Section */

  #features {
    height: auto;
    padding-bottom: 10px;
  }

  .features-intro h2 {
    font-size: 2.5rem;
    margin-left: 20px;
  }

  .features-intro p {
    font-size: 1rem;
    padding-left: 27px;
  }

  .features-content {
    display: block;
  }

  .content {
    font-size: 1rem;
    margin-left: 28px;
    width: 85%;
  }

  .myeffects {
    left: 15px;
    top: 7px;
    width: 92%;
  }

  /* Report Section */

  #report {
    height: auto;
    padding-bottom: 70px;
  }

  .intro-report h3 {
    font-size: 2.5em;
    margin-top: 0px;
    margin-left: 20px;
    color:#ceffad !important;
  }

  .intro-report p {
    font-size: 1rem;
    width: 95%;
    padding-left: 30px;
    /* font-family: var(--bs-body-font-family); */
    font-style: italic !important;
  }

  /* Contact Us Section */

  #contact {
    padding-top: 10vh;
  }

  .intro-text {
    font-size: 2.5rem;
    padding-left: 30px;
  }

  .intro-component {
    padding-left: 30px;
    font-size: 1rem;
  }

  .intro-component p {
    width: 90%;
    margin-top: 25px;
  }


  .profile-img {
    height: 85px;
    width: 85px;
    margin: 3px;
    border-radius: 10px;
  }

  .intro {
    padding: 10px 5px;
    color: #50f6cc;
  }

  .intro h3 {
    font-size: 1rem;
  }

  .intro p {
    font-size: 0.9rem;
    line-height: 5px;
    padding-left: 0px;
  }

  .social {
    height: 20px;
    width: 20px;
    margin: 0px 0px;
  }
}


/* footer css */

.footer {
  background-color:#030337;

  color: #fefefe;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .heading {
  color: #fefefe;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
  width: 100%;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .content a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}





/* # About us
 */

 .basis-member.staff {
  padding:2rem 0 4rem 0;
  font-family: 'Raleway', sans-serif;
  /* border: 2px solid rgb(0, 18, 98);
  border-radius: 125px 125px 125px 125px; */
}

.basis-member.staff .member-box {
  background-color: #030337;
  color: white;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: transform .2s
}
.text{
  margin-top: 0;
  margin-bottom: -3rem;
  font-size: 20px;
}

 /* hover on card  */
 .basis-member.staff .member-box:hover{
  transform:scale(1.1)
 }


.basis-member.staff .member-box .card-body {
  position: relative;
  height: 150px
  
}
.basis-member.staff .member-box .shape {
  width: 200px;
  height: 200px;
  background: var(--primary);
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: -100px;
  transform: rotate(45deg);
}

.basis-member.staff .member-box .card-img-top {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-bottom: 5px solid var(--primary);
}

.basis-member.staff .member-box .member-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.025em;
}